{% extends "base.html" %}
{% block content %}
{% load static %}

<main role="main">



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="jumbotronMy urists2">

    <div class="container marketing">

        {% if ok %}
                <button type="button" class="btn btn-outline-info">Мы свяжемся с Вами в ближайшее время!</button><p></p>
        {% endif %}

        <!-- /END THE FEATURETTES -->
        <p></p>
        <h1 class="display-6" style="text-align: center">Наша команда</h1>
        <p></p>
        <main role="main">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 text-center" style="width: 100%;">
                                <img src="{% static "public/julia.png" %}" class="card-img-top" alt="Nikita Photo">
                                <div class="card-body">
                                    <h5 class="card-title">Юлия Коломиец</h5>

                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p></p><p></p>Гражданско-правовые споры, оформление имущественных отношений
                                    <p></p><p></p></li>
                                    <li class="list-group-item">Управляющий партнер</li>
                                    <li class="list-group-item">Опыт юридической деятельности более 15 лет</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 text-center" style="width: 100%;">
                                <img src="{% static "public/bold.png" %}"  class="card-img-top" alt="Nikita Photo">
                                <div class="card-body">
                                    <h5 class="card-title">Денис Примаков</h5>

                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Антикоррупционный и санкционный комплаенс, корпоративное право, представительство в суде, консультирование компаний по вопросам зарубежного законодательства и международного коммерческого арбитража</li>
                                    <li class="list-group-item">Старший партнер в Москве, к.ю.н.</li>
                                    <li class="list-group-item">Опыт юридической деятельности более 10 лет</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 text-center" style="width: 100%;">
                                <img src="{% static "public/viktorya.png" %}" class="card-img-top" alt="Nikita Photo">
                                <div class="card-body">
                                    <h5 class="card-title">Виктория Красильникова</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><p></p>Гражданское право, корпоративное право, морское право, защита интересов в Арбитражном суде, судах общей юрисдикции<p></p><p></p></li>
                                    <li class="list-group-item">Старший партнер в Республике Крым</li>
                                    <li class="list-group-item">Опыт юридической деятельности более 20 лет</li>
                                </ul>
                            </div>
                        </div>

                    </div>
            <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 text-center" style="width: 100%;">
                                <img src="{% static "public/nikita.png" %}" class="card-img-top" alt="Nikita Photo">
                                <div class="card-body">
                                    <h5 class="card-title">Никита Коломиец</h5>

                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Защита прав и интересов в суде по трудовым, гражданско-правовым спорам
                                    </li>
                                    <li class="list-group-item">Практикующий Юрист</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 text-center" style="width: 100%;">
                                <img src="{% static "public/alexander.png" %}"  class="card-img-top" alt="Nikita Photo">
                                <div class="card-body">
                                    <h5 class="card-title">Александр Анохин</h5>

                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Консультации, представительство в суде по вопросам защиты прав потребителей</li>
                                    <li class="list-group-item">Практикующий юрист</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 text-center" style="width: 100%;">
                                <img src="{% static "public/viktor.png" %}" class="card-img-top" alt="Nikita Photo">
                                <div class="card-body">
                                    <h5 class="card-title">Виктор Казанцев</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Консультации по вопросам налога на имущество, помощь в получении налоговых вычетов</li>
                                    <li class="list-group-item">Советник</li>
                                </ul>
                            </div>
                        </div>
                    </div>

            <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 text-center" style="width: 100%;">
                                <img src="{% static "public/anatoly.png" %}" class="card-img-top" alt="Nikita Photo">
                                <div class="card-body">
                                    <h5 class="card-title">Анатолий Кастрикин</h5>

                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                       Признание права собственности на квартиру по решению суда, взыскание неустойки с застройщика, сопровождение сделок с недвижимостью</li>
                                    <li class="list-group-item">Партнер в Москве </li>
                                    <li class="list-group-item">Опыт юридической деятельности более 5 лет</li>
                                </ul>
                            </div>
                        </div>

<footer class="container">
        <div class="jumbotronMy2" style="color: black">
            <form action="{{ request.path }}" method="post">
                {% csrf_token %}
                <label>Форма обратной связи</label>
                <p></p>
                <div class="form-group">
                    <label>Ваш Email</label>
                    {{ Mform.email }}
<!--                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">-->
                </div>
                <div class="form-group">
                    <label>Ваш Номер (не обязательно)</label>
                    {{ Mform.number }}
<!--                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+79991234567">-->
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Какие услуги Вас интересуют?</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Для физических лиц</option>
                        <option>Для юридических лиц</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Кратко опишите проблему</label>
                    {{ Mform.problem }}
<!--                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
                </div>
                <button type="submit" class="btn btn-coffee">Оставить заявку</button>
            </form>

        </div>
        <p class="float-right" style="color: black">ИП Коломиец Ю.С. ОГРНИП: 320911200017136, ИНН: 911113069567</a></p>
        <p style="color: black">&copy; 2020 K Company </p></footer>
        </main>


    </div><!-- /.container -->

    </div> <!-- jumbotron -->



</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">

    {% endblock %}