

<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "public/my.css" %}">

    <title>AskBakaev</title>
  </head>
  <body>


<header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">AskBakaev</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Регистрация</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Настройки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Популярное</a>
      </li>
    </ul>
    <form class="form-inline mt-4 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Поиск">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
    <form class="form-inline mt-4  mt-md-0">
        <img type="button" class="ml-4 small-avatar" src="{% static "public/kitten.jpg" %}" width="44" height="40" alt="kitten">
        <button type="button" class="btn btn-outline-info ml-2">ProfileName</button>
        <button type="button" class="btn btn-outline-info ml-2">Выход</button>

      </form>
  </div>
</nav>
</header>

<div class="up">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Создать Новый Вопрос</button>
    <button type="button" class="btn btn-secondary">Крутые вопросы</button>
  </div>
</div>

<div class="row">
    <div class="column just-border"></div>
    <div class="column left">

  <div class="container main-content">
    <div class="row">
      <div class="col-10">
        <div class="question">
          <div class="row">
            <div class="col-2">
              <img class="avatar" src="{% static "public/kitten.jpg" %}" width="120" height="110" alt="kitten">
            </div>
            <div class="col-10">
              <h2><a href="">My best question</a></h2>
              <p>Few words about what should i ask about.
              Few words about what should i ask about.
              Few words about what should i ask about.
              Few words about what should i ask about.</p>
              <p><div class="pagination">
                  <a href="#">beautiful</a>
                  <a href="#">cool</a>
                  <a href="#">amazing</a>
                  <a href="#">lovely</a>
                </div></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 ">
          <button type="button" class="btn btn-outline-primary">
              Ответы <span class="badge badge-light">4</span>
          </button>
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success"><strong> + </strong></button>
              <button type="button" class="btn btn-danger"><strong> - </strong></button>
            </div>
          <button type="button" class="btn btn-outline-danger">
              Рейтинг <span class="badge badge-light">-5</span>
          </button>
      </div>
    </div>

    <div class="row">
        <div class="col-10">
          <div class="question">
            <div class="row">
              <div class="col-2">
                <img class="avatar" src="{% static "public/kitten.jpg" %}" width="120" height="110" alt="kitten">
              </div>
              <div class="col-10">
                <h2><a href="">My best question</a></h2>
                <p>Few words about what should i ask about.
                Few words about what should i ask about.
                Few words about what should i ask about.
                Few words about what should i ask about.
                Few words about what should i ask about.</p>
                <p><div class="pagination">
                    <a href="#">beautiful</a>
                    <a href="#">cool</a>
                    <a href="#">amazing</a>
                  </div></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 ">
            <button type="button" class="btn btn-outline-primary">
                Ответы <span class="badge badge-light">4</span>
            </button>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success"><strong> + </strong></button>
                <button type="button" class="btn btn-danger"><strong> - </strong></button>
              </div>
            <button type="button" class="btn btn-outline-danger">
                Рейтинг <span class="badge badge-light">-5</span>
            </button>
        </div>
      </div>

  </div>
</div>
<div class="just-border"></div>
<div class="column right padding-left-5 right-content">
  <div class=""> <p><h2><a href="">Popular Tags</a></h2> 
    <ul>
        <li>Tag1</li>
        <li>Tag2</li>
        <li>Tag3</li>
       </ul>
    <h2><a href="">Popular users</a></h2> </p></div>
    <ul>
        <li><a href="#">Bakaev</a></li>
        <li><a href="#">Fedorov</a></li>
        <li><a href="#">Ivanov</a></li>
       </ul>
</div>
</div> 
<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="node_modules/jquery/jquery.min.js" ></script>
    <script src="node_modules/popper.js/dist/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
  </body>
</html>
